{% extends 'base/main.html' %}
{% block content %}

        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>

                <br>
                <form method="POST">
                    {% csrf_token%}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        {{form.username}}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{form.email}}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{form.password1}}
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{form.password2}}
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" name="Create Account">
                    </div> <!-- form-group// -->

                    {{form.errors}}

                    <p class="text-center">Already have an Account? <a class="mr-2" href="{% url 'login' %}">Log In</a> </p>
                </form>
            </article>
        </div>

    <!-- card.// -->

{% endblock %}

